/**
 * Translucent borders
 */

body {
	background: url('http://csssecrets.io/images/stone-art.jpg');
}

div {
	/* styling */
	max-width: 20em;
	margin: 2em auto 0;
	padding: 2em;
	font: 100%/1.5 sans-serif;
	background: white;
	background-clip: padding-box;
	border: 10px solid hsl(0deg 0% 100% / 50%);
}
